$gap: 4vh;

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: $gap;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;

  .header {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 20vh;
    gap: $gap;

    .title {
      color: var(--type);
      font-size: 50px;
      font-weight: 700;
      margin-top: 4vh;
    }

    .stock-input {
      background-color: #f8f5f5;
      font-size: 0.9rem;
      padding: 1.4rem 2.5rem 1.4rem 1rem;
    }

    .stock-btn {
      box-shadow: 0px 5px 25px 7px rgba(145, 154, 160, 0.4);
      font-weight: 700;
      font-size: 0.8rem;
      padding: 0.8rem 2rem;
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $gap;
  }
}
