$theme-colors: (
  "green": #299e00,
  "green-light": #6af531,
  "green-dark": #00a333,
  "red": #bb0606,
  "red-light": #eb5631,
  "red-dark": #901700,
  "button": #284cc9,
  "titles": #98a1a8,
  "caption": #919aa0,
  "type": #3e5769,
);
