@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// BootstrapVue and its default variables
@import "../../node_modules/bootstrap-vue/src/index.scss";

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
